@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --verde-trybe: #1db702;
  --verde-claro: #e1f2d5;
  --verde-escuro: #034422;
  /* background-color: var(--verde-escuro); */
  background-image: url(assets/background_pattern.png);
  background-repeat: repeat;
}

body {
  margin: 0;
  font-family: Inter, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  color: var(--verde-escuro);
  font-weight: 800;
}

h2 {
  color: var(--verde-escuro);
  font-weight: 500;
}

h3 {
  color: var(--verde-escuro);
  font-weight: 400;
}

p {
  color: #034422;
}

button {
  font-family: Inter, sans-serif;
  background-color: #1db702;
  border: none;
  border-radius: 10px;
  padding: 12px 18px;
  color: white;
  margin: auto;
  cursor: pointer;
  font-size: 1.25em;
  transition: 0.3s;
}

button:hover {
  background-color: #23d100;
}

.question-container {
  padding: 10px;
  margin: 10px 4px 10px 4px;
  border-radius: 8px;
  border: 4px solid var(--verde-escuro);
  cursor: pointer;
  transition: 0.25s ease;
}
.question-container:hover {
  color: var(--verde-trybe);
}

.heart-container {
  margin: 0px;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heart {
  width: 160px;
  height: 160px;
  line-height: 160px;
  text-align: center;
  color: var(--verde-claro);
  font-size: 28px;
  font-weight: 600;
  text-transform: uppercase;
  mask-image: url(assets/heart_filled.svg);
  outline: 1px black;
  position: relative;
  overflow: hidden;
}

.heart-outline {
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  height: 160px;
  line-height: 160px;
  text-align: center;
  color: var(--verde-escuro);
  font-size: 25px;
  font-weight: 600;
  background-image: url(assets/heart_outline.svg);
  text-transform: uppercase;
  mask-image: url(assets/heart_filled.svg);
  outline: 1px black;
  overflow: hidden;
}

.heart::before {
  content: "";
  position: absolute;
  width: 400px;
  height: 400px;
  background: var(--verde-trybe);
  left: "50%";
  transform: translateX(-50%);
  border-radius: 40%;
  animation: fill 2s ease-in-out 1;
  z-index: -1;
}

.heart::after {
  width: 200px;
  height: 180px;
  line-height: 180px;
  text-align: center;
  color: var(--verde-escuro);
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
  background-image: url(assets/heart_outline.svg);
  outline: 1px black;
  position: relative;
  overflow: hidden;
}

@keyframes fill {
  from {
    top: 250px;
    transform: translateX(-50%) rotate(0deg);
  }

  to {
    top: -50px;
    transform: translateX(-50%) rotate(360deg);
  }
}