@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --verde-trybe: #1db702;
  --verde-claro: #e1f2d5;
  --verde-escuro: #034422;
}

body {
  margin: 0;
  font-family: Inter, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--verde-escuro);
}

h1 {
  color: var(--verde-escuro);
  font-weight: 800;
}

h2 {
  color: var(--verde-escuro);
  font-weight: 500;
}

h3 {
  color: var(--verde-escuro);
  font-weight: 400;
}

p {
  color: #034422;
  
}
.heart {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 180px;
  background: url(pages/wave.png);
  background-position: 0px 800px;
  background-repeat: repeat-x;
  border: #034422;
  animation: filling 10s ease-in-out infinite; /* infinite */
  mask-image: url(pages/heart_filled.svg);
}

@keyframes filling {
  50% {background-position: 0px 0px;}
  100% {background-position: 0px 350px;}
}

button {
  font-family:  Inter, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}