@font-face {
  font-family: "RoobertRegular";
  src: local("RoobertRegular"), url("./assets/fonts/Roobert-Regular.ttf") format("truetype");
  font-weight: regular;
}

@font-face {
  font-family: "RoobertSemiBold";
  src: local("RoobertSemiBold"), url("./assets/fonts/Roobert-SemiBold.ttf") format("truetype");
  font-weight: bold;
}

:root {
  --verde-trybe: #1db702;
  --verde-claro: #e1f2d5;
  --verde-escuro: #034422;
}

body {
  margin: 0;
  font-family: RoobertRegular, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--verde-escuro);
  background-image: url(assets/gradient.png);
  background-size: 20px;
  background-position-y: -6px;
  background-repeat: repeat-x;
}

h1 {
  font-family: RoobertSemiBold;
  color: var(--verde-escuro);
  font-weight: 600;
  font-size: 58px;
}

h2 {
  font-family: RoobertRegular;
  color: var(--verde-escuro);
  font-weight: 500;
  font-size: 38px;
}

h3 {
  font-family: RoobertRegular;
  color: var(--verde-escuro);
  font-weight: 400;
}

button {
  font-family: RoobertSemiBold, sans-serif;
  background-color: #1db702;
  border: none;
  border-radius: 10px;
  padding: 12px 24px;
  color: white;
  cursor: pointer;
  font-size: 34px;
  transition: 0.3s;
}

button:hover {
  background-color: #23d100;
}

p {
  margin: 0;
  font-family: RoobertRegular;
  font-size: 24px;
  color: #034422;
}

.main-container {
  position: fixed;
  overflow: auto;
  height: 620px;
  width: 480px;
  max-width: 100%;
  background-color: var(--verde-claro);
  top: 50%;
  left: 50%;
  padding: 20px;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  align-content: center;
  align-items: center;
}

.inside-container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  height: 100%;
}
.inside-container > div { 
  text-align: center;
}

.question {
  box-sizing: content-box;
  padding: 18px;
  margin: 10px 4px 10px 4px;
  border-radius: 8px;
  border: 3px solid var(--verde-escuro);
  cursor: pointer;
  transition: 0.25s ease;
}
.question:hover {
  color: var(--verde-trybe);
}

.question p {
  font-family: RoobertRegular;
  font-size: 22px;
  text-align: left;
  color: #034422;
}

.heart-container {
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heart-outline {
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  height: 160px;
  background-image: url(assets/heart_outline.svg);
}

.heart {
  width: 160px;
  height: 160px;
  line-height: 160px;
  text-align: center;
  color: var(--verde-claro);
  font-size: 34px;
  font-weight: 600;
  font-family: RoobertSemiBold;
  text-transform: uppercase;
  mask-image: url(assets/heart_filled.svg);
  position: relative;
  overflow: hidden;
}
.heart::before {
  content: "";
  position: absolute;
  width: 400px;
  height: 400px;
  background: var(--verde-trybe);
  left: 50%;
  transform: translateX(-50%);
  border-radius: 40%;
  animation: fill 2s ease-in-out 1;
  z-index: -1;
}

@keyframes fill {
  from {
    top: 250px;
    transform: translateX(-50%) rotate(0deg);
  }

  to {
    top: -50px;
    transform: translateX(-50%) rotate(360deg);
  }
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}